{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    {% load django_simple_bulma %}
    {% bulma %}
    {% font_awesome %}


</head>

<nav>
    <a href="{% url 'signup' %}" class="button is-dark">Sign Up</a>
    <a href="{% url 'login' %}" class="button is-success">Log In</a>
</nav>

<body>
    {% block content%}
    {% endblock %}
</body>
</html>