{% extends 'base.html'%}
{%block content%}


<div>
    <div>{{ loadout.weapon_kinetic}}</div>
    <div>{{ loadout.weapon_energy}}</div>
    <div>{{ loadout.weapon_heavy}}</div>
    
    <div>{{ loadout.armor_head}}</div>
    <div>{{ loadout.armor_shoulder}}</div>
    <div>{{ loadout.armor_chest}}</div>
    <div>{{ loadout.armor_legs}}</div>
    <div>{{ loadout.armor_class}}</div>
</div>

<div>
    {% for weapon in weapons %}
    <div>{{ weapon.name}} </div>
    {% endfor %}

</div>

<div>
    {% for armor in armors %}
    <div>{{ armor.name}} </div>
    {% endfor %}

</div>



{% endblock%}