{% extends 'base.html'%}
{%block content%}

{% for character in characters %}
<div class-"column">
    <div>Light level: {{ character.light }}</div>
    <div>Total minutes played on character:{{ character.total_minutes }}</div>
    <div>Minutes played on character last session: {{ character.session_minutes }}</div>
    <div>Date last played: {{ character.last_played }}</div>
    <div>Character race: {{ character.race_type }}</div>
    <div>Character class: {{ character.class_type }}</div>
    
    <img src="http://www.bungie.net{{character.emblem_icon}}">
    <img src="http://www.bungie.net{{character.emblem_background}}">

    <a href="{% url 'delete_character' character.id %}">Delete</a>
    
</div>
{% endfor %}

{% endblock%}