{% extends 'base.html'%}
{%block content%}

{% for character in characters %}
<div class-"column">
    <div>{{ character.light }}</div>
    <div>{{ character.total_minutes }}</div>
    <div>{{ character.session_minutes }}</div>
    <div>{{ character.last_played }}</div>
    <div>{{ character.race_type }}</div>
    <div>{{ character.class_type }}</div>
    
    <img src="http://www.bungie.net{{character.emblem_icon}}">
    <img src="http://www.bungie.net{{character.emblem_background}}">
    
   
</div>
{% endfor %}

{% endblock%}