{% extends 'base.html'%}
{%block content%}

{% if loadouts %}

{% for loadout in loadouts %}
<div>
    <div>{{ loadout.weapon_kinetic}}</div>
    <div>{{ loadout.weapon_energy}}</div>
    <div>{{ loadout.weapon_heavy}}</div>
    
    <div>{{ loadout.armor_head}}</div>
    <div>{{ loadout.armor_shoulder}}</div>
    <div>{{ loadout.armor_chest}}</div>
    <div>{{ loadout.armor_legs}}</div>
    <div>{{ loadout.armor_class}}</div>
</div>
{% endfor %}

{% else %}

<p> No loadouts</p>
{% endif %}

<a href="" class="button is-primary is-large">Create a new loadout</a>

{% endblock%}